<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="crawl-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Crawl</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="dict-tab" data-toggle="tab" href="#customDict" role="tab" aria-controls="customDict" aria-selected="false">Dictionary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="results-tab" data-toggle="tab" href="#jobs" role="tab" aria-controls="jobs" aria-selected="false">Jobs</a>
  </li>
</ul>