<div class="container">
  <div class="row center">
    <h4>Results</h4>
  </div>
  <div class="row qc-checks">
    <div class="col-md-4">

      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
          aria-selected="true">
          <div class="row">
            <span class="oi oi-check passed"></span>
            <h4>404s</h4>
          </div>
        </a>
        <a id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
          aria-selected="false">
          <div class="row">
            <span class="oi oi-warning failed"></span>
            <h4>Spelling</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-8 urls tab-content" id="v-pills-tabContent">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">URL</th>
                <th scope="col">Word</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <thead>
                <h2>Spelling</h2>
              </thead>
              <tr>
                <td scope="row">https://www.m2apartments.com/</td>
                <td>somsdfasd</td>
                <td>
                  <button type="button" class="btn btn-success">Add Word</button>
                </td>
              </tr>
              <tr>
                <td scope="row">https://www.m2apartments.com/apartments/co/denver/floor-plans</td>
                <td>asdfsadf</td>
                <td>
                  <button type="button" class="btn btn-success">Add Word</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      </div>
    </div>
  </div>
</div>