<div class="container">
  <div class="row center">
    <h2 class="col">Results</h2>
  </div>
  <div class="row qc-checks">
    <div class="col-md-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      </div>
    </div>
    <div class="col-md-8 urls tab-content">
      <div class="tab-content" id="v-pills-tabContent">
      </div> 
    </div>
  </div>
</div>